.mainContainer{
  display: flex;
  flex-direction: column;
  flex: 10;
  margin: 0;
  padding: 0;
  background-color: rgb(249, 249, 249);
}

.empty{
  display: flex;
  flex: 15;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(197, 199, 210);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.queue{
  display: flex;
  flex: 15;
  flex-flow: column nowrap;
  align-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}
